@use "../scss/variables.scss" as colors;

.grid {
  background-color: colors.$background-dark;
  min-height: 50vh;
  border-radius: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
  & > * {
    width: calc(33.33% - 1rem); /* 1rem de gap entre les éléments */
    max-width: 20rem;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column; /* Passe en colonne sous 768px */
    align-items: center; /* Centre les éléments horizontalement */
    background-color: colors.$grid-background-light;
    & > * {
      width: 100%; /* Les éléments occupent toute la largeur sur les petits écrans */
    }
  }

  @media screen and (min-width: 768px) { /* Au-dessus de 768px */
    & > * {
      width: calc(33.33% - 1rem); /* Limite à 3 colonnes */
    }
  }
}
