@use "../scss/variables.scss" as *;

.banner {
  position: relative;
  background-position: center;
  background-size: cover;
  padding-inline: 2rem;
  background-image: url("https://s3-alpha-sig.figma.com/img/4706/e7dd/e270fc8fc902a1eb738458e7b29c1899?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=jUMOuIxHqkWwZ96ygk5hPjt6bKUp6EkCMCGm9gkFyOtxxuDoqM8Zs03tipfR2hYwsih4aPkVCrb88w~qE5cW1N5RkoGaEhLyZ3DNtg7KryCj5IXVt4yNciZnX-h~NvvimPINyXbvAi6fWFg3aoKNmyPej0QgcVsT0pAVDrqNipzVJ3XfdfYb7EO2bwZLIkZZnN2z3coeTra-SF2m--KaOGroqUPSYQ67uS7nNAQFt7k8xv15zrElyNHgNQHvuKbm4-fpa9Fe3p211I5urHYBGGFHtKWs0cDWlewwPs17AaMtGQYu3WRDyMZ1pClILf33oSIaDSz2COun-MbGgYfXuQ__");
  min-height: 140px;
  margin: auto;
  border-radius: 2rem;
  display: grid;
  place-items: center;
  color: $color-tertiary;
  margin-bottom: 2rem;
  max-width: 100%;
  &::before {
    position: absolute;
    border-radius: 2rem;
    content: "";
    inset: 0;
    opacity: 0.5;
  }
}
